@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap");
html {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #303130;
}

html a {
  color: #a3b900;
  text-decoration: none;
}

html ::-moz-selection {
  background: #a3b900 !important;
}

html ::selection {
  background: #a3b900 !important;
}

#header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "title cmd duck" "title copymode duck";
}

#header #title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: title;
  padding: 1rem;
}

#header #title :nth-child(n) {
  margin: 0;
}

#header #command {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cmd;
  -ms-grid-column-align: center;
      justify-self: center;
}

#header #command .hint {
  color: #888888;
  padding-left: 1rem;
  font-size: small;
}

#header #command #command-line-wrapper {
  font-size: large;
  background-color: #252525;
  border-radius: 9px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  width: 16rem;
}

#header #command #command-line-wrapper #command-line {
  background-color: #252525;
  color: #ffffff;
  font-size: large;
  border-radius: 9px;
  border-style: none;
  padding: .5rem;
}

#header #command #command-line-wrapper #command-line:focus {
  outline: none;
}

#header #copy-mode-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: copymode;
}

#header #copy-mode-wrapper #copy-mode-label {
  text-align: center;
  font-size: small;
  color: #888888;
}

#header #copy-mode-wrapper #copy-mode {
  background-color: #252525;
  width: 10rem;
  margin: auto;
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5rem)[2];
      grid-template-columns: repeat(2, 5rem);
  font-size: small;
  text-align: center;
  line-height: 1.2rem;
  border-radius: 9px;
}

#header #copy-mode-wrapper #copy-mode :nth-child(n) {
  border-radius: 9px;
  cursor: pointer;
}

#header #copy-mode-wrapper #copy-mode #copy-mode-int {
  background-color: #a3b900;
}

#header #copy-mode-wrapper #copy-mode #copy-mode-char {
  background-color: none;
}

#header #duck-wrapper {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: duck;
  -ms-grid-column-align: right;
      justify-self: right;
  margin: 1rem;
}

#header #duck-wrapper #copied {
  color: #888888;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  font-size: small;
  padding: .3rem 0;
  margin: 0;
  float: left;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

#header #duck-wrapper #quark-put {
  width: 80px;
  padding: .3rem 0;
  margin: 0;
  margin-left: .5rem;
  text-align: center;
  font-style: italic;
  font-weight: 100;
  background-color: #252525;
  text-align: center;
  float: left;
  line-height: 30px;
  border-radius: 9px;
}

#header #duck-wrapper #duck {
  display: inline;
  width: 30px;
  padding: .3rem 0;
  margin-left: 1rem;
  text-align: center;
  cursor: pointer;
}

table {
  table-layout: fixed;
  margin: auto;
}

table tr {
  overflow: hidden;
  height: 30px;
  text-align: center;
  background-color: #252525;
}

table tr td {
  width: 4vw;
}

table tr td.number {
  color: rgba(255, 255, 255, 0.2);
  cursor: default;
}

table tr td.char:hover {
  background-color: #a3b900;
  cursor: pointer;
}

#credit {
  text-align: center;
  color: #888888;
  font-size: small;
  margin-top: 2rem;
}
/*# sourceMappingURL=main.css.map */